# --- Ignorar entornos virtuales ---
.venv/
venv/
env/
.venv
.venv*/
venv*/

# --- Caches y temporales ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.tmp
.tmp*/
.uv_cache/

# --- Checkpoints de Jupyter ---
.ipynb_checkpoints/

# --- Archivos de entorno ---
.env
token_cache.bin
.DS_Store

# --- Scripts locales ---
*.ps1

# --- Configuración local de VS Code ---
.vscode/

# --- Archivos Excel ---
# Ignorar todos los Excel por defecto
*.xls
*.xlsx
*.xlsm
*.xlsb
*.ods

# --- Excepciones (Excel que SÍ deben incluirse) ---
!SUDOKU.xlsx
!Areas_Paises.xlsx

# --- Archivos de compilación y ejecutables ---
# Carpeta de salida de PyInstaller
dist/
build/

# Archivos intermedios o binarios generados
*.exe
*.pkg
*.spec

# --- Archivos temporales del sistema ---
Thumbs.db
ehthumbs.db
desktop.ini

# --- Archivos comprimidos ---
*.zip
*.rar
*.7z
*.tar
*.gz

# binarios grandes
Distribucion_OBS.exe
build/
*.pkg
